<?xml version='1.0' encoding='utf-8'?>
<Server port='8005' shutdown='SHUTDOWN'>

	<Listener className='org.apache.catalina.startup.VersionLoggerListener' />
	<Listener className='org.apache.catalina.core.AprLifecycleListener' SSLEngine='on' />
	<Listener className='org.apache.catalina.core.JreMemoryLeakPreventionListener' />
	<Listener className='org.apache.catalina.mbeans.GlobalResourcesLifecycleListener' />
	<Listener className='org.apache.catalina.core.ThreadLocalLeakPreventionListener' />

	<Service name='Catalina'>
		<Connector port='9090' protocol='HTTP/1.1' connectionTimeout='20000' redirectPort='8443' />
		<Engine name='Catalina' defaultHost='localhost'>
			<Host name='localhost' appBase='webapps' unpackWARs='true' autoDeploy='true' xmlValidation='false' xmlNamespaceAware='false'>
				<Valve className='org.apache.catalina.valves.AccessLogValve' prefix='localhost_access_log.' suffix='.txt'
				       directory='logs' pattern='%h %l %u %t &quot;%r&quot; %s %b' resolveHosts='false'/>
			</Host>
		</Engine>
	</Service>
</Server>
